header {
    width: 100%;
    padding: 28px 8px;
}
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobile_btn {
    display: none;
}

#mobile_menu  {
    display: none;
}
.btn-default-mobile {
    border: none;
    align-items: center;
    justify-content:center;
    background-color: #ffe100;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba (0, 0, 0, 0.1);
    cursor: pointer;
     transition: background-color .3s ease;
     display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #mobile_menu  {
        display: flex;
        flex-direction: column  ;
        align-items: center;
    }
    .btn-default-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    #mobile_menu{
        list-style: none;
        text-align: center;
    }
    #mobile_nav_list{
        list-style: none;
    }
     
}